@charset "utf-8";
/* CSS Document */
/*column*/
.web_column{ height:122px; margin-bottom:12px;}
.column01{ width:185px; height:108px; padding:14px 0 0 0; background:url(http://www.whjunda.com/theme/default/images/line04.jpg) no-repeat right top; 
margin-right:8px;}
.jd_icon{ width:176px; height:86px; background:#cecece; border-bottom:4px solid #f54512; text-align:center; padding:6px 0 0 0;}
.jd_icon02{ border-bottom-color:#fb990e;}
.jd_icon03{ border-bottom-color:#36b206;}
.jd_icon04{ border-bottom-color:#257aac;}
.jd_icon05{ border-bottom-color:#6300a2;}
.jd_icon img{ margin-bottom:9px;}
.jd_icon a:hover{ text-decoration:none;}
.column05{ width:176px; height:108px; background:none; padding:14px 0 0 0; margin:0;}



/*web_content*/
.web_content{ height:auto; border-bottom:2px solid #017ec6; padding:0 0 20px 0; margin-bottom:10px;}
/*contl*/

.title01{ width:645px; height:32px; background:url(http://www.whjunda.com/theme/default/images/line01.jpg) no-repeat left bottom;}
.title01 .title01_left{ height:32px; line-height:32px; background: url(../images/list1.jpg) no-repeat left center;
 padding:0 0 0 10px;}
.title01 a{ padding:12px 0 0 0;}
.title01 a:hover{ color:#017ec6;}

.about_content{ width:610px; height:auto; padding:0 11px 0 24px; margin-top:15px;}
.about_content .jd_video{ width:139px; height:120px; margin-right:15px;}
.about_content .jianjie{ width:455px;}
.about_content .jianjie p{ text-indent:24px; line-height:21px;}








