<!--yiihoo 修正css信息，必须加上-->
<link type="text/css" rel="stylesheet" href="{{site.baseurl}}public/css/yiihoo.css" />
<!--footer-->
<div class="jd_footer">
    <div class="jd_foot w1000">
        <div class="lf">
            Copyright&nbsp; 九江唯壹佳工程有限公司 2004-2014&nbsp; All Rights Reserved
        </div>
        <div class="rf">
            地址：九江市长江大道669号21世纪家居建材中心B馆1023（香港茶餐厅正后门）
        </div>
    </div>
</div>
<script src="http://code.54kefu.net/kefu/js/b111/821311.js" type="text/javascript" charset="utf-8"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?bb852097ed53fc154e605d2cd1fc86dd";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

