<!--yiihoo 修正css信息，必须加上-->
<link type="text/css" rel="stylesheet" href="{{site.baseurl}}public/css/yiihoo.css" />
<!--footer-->
<div class="jd_footer">
    <div class="jd_foot w1000">
        <div class="lf">
            Copyright&nbsp; 九江唯壹佳工程有限公司 2004-2014&nbsp; All Rights Reserved
            <br /> 网站备案号：鄂ICP备13004234号
        </div>
        <div class="rf">
            地址：武汉汉街总部国际B座2006
            <br /> 总机：400-658-3321&nbsp; 传真：027-86739995&nbsp; 邮箱：<a href="mailto:wuhan_onebest@sina.com">wuhan_onebest@sina.com</a>
        </div>
    </div>
</div>

