<div class="w_head">
    <div class="w1000">
        <h1 class="w_logo"><a href="index.asp"><img src="{{site.baseurl}}public/images/logo.gif" border="0" /></a></h1>
        <div class="w_nav">
            <div class="topmenu"></div>
            <ul class="nav" id="menu">
                <li class="ts"><a href="/" id="ms">首页</a></li>
                <li><a href="{{site.baseurl}}about/1.html" id="ms1">公司简介</a>
                    <ul>
                        <li><a href="{{site.baseurl}}about/1.html">关于我们</a></li>
                        <li><a href="{{site.baseurl}}about/2.html">品牌故事</a></li>
                        <li><a href="products.asp?bigclassid=5">资质证书</a></li>
                        <li><a href="{{site.baseurl}}about/3.html">企业文化</a></li>
                        <li><a href="{{site.baseurl}}about/4.html">战略规划</a></li>
                        <li><a href="{{site.baseurl}}about/5.html">联系我们</a></li>
                    </ul>
                </li>
                <li><a href="{{site.baseurl}}product/page1.html" id="ms2">产品中心</a>
                    <ul>
                        <li><a href="{{site.baseurl}}product/sub1/page1.html" title="燃气供暖">燃气供暖</a></li>
                        <li><a href="{{site.baseurl}}product/sub2/page1.html" title="净水设备">净水设备</a></li>
                        <li><a href="{{site.baseurl}}product/sub3/page1.html" title="中央热水">中央热水</a></li>
                        <li><a href="{{site.baseurl}}product/sub4/page1.html" title="中央空调">中央空调</a></li>
                        <li><a href="{{site.baseurl}}product/sub5/page1.html" title="其它配件">其它配件</a></li>
                        <!--<li><a href="{{site.baseurl}}product/sub6/page1.html" title="更多产品">更多产品</a></li> -->
                    </ul>
                </li>
                <li><a href="case.asp" id="ms3">用户案例</a>
                    <ul>
                        <li><a href="case.asp?BigClassID=2&SmallClassID=6" title="家庭供暖">家庭供暖</a></li>
                        <li><a href="case.asp?BigClassID=2&SmallClassID=7" title="净水案例">净水案例</a></li>
                        <li><a href="news.asp?id=6" title="使用心得">使用心得</a></li>
                    </ul>
                </li>
                <li><a href="news.asp?id=2" id="ms4">资讯与活动</a>
                    <ul>
                        <li><a href="news.asp?id=1">最新签约</a></li>
                        <li><a href="news.asp?id=2">壹佳动态</a></li>
                        <li><a href="news.asp?id=3">行业动态</a></li>
                        <li><a href="news.asp?id=4">施工信息</a></li>
                        <li><a href="news.asp?id=5">热门活动</a></li>
                    </ul>
                </li>
                <li><a href="{{site.baseurl}}service/1.html" id="ms5">服务与保障</a>
                    <ul>
                        <li><a href="{{site.baseurl}}service/1.html">售后服务</a></li>
                        <li><a href="{{site.baseurl}}service/2.html">舒适家居知识</a></li>
                        <li><a href="{{site.baseurl}}service/3.html">供暖系统知识</a></li>
                    </ul>
                </li>
                <li><a href="{{site.baseurl}}join/2.html" id="ms6">诚聘英才</a>
                    <ul></ul>
                </li>
                <li><a href="{{site.baseurl}}join/1.html" id="ms7">加入我们</a>
                    <ul>
                        <li><a href="{{site.baseurl}}join/3.html">推广合作</a></li>
                        <li><a href="{{site.baseurl}}join/4.html">分销合作</a></li>
                    </ul>
                </li>
                <li class="jdfd">
                    <a href="/#" id="ms"></a>
                    <ul class="jdfdlist">
                        <li>
                            <p>九江市总部&nbsp;&nbsp;&nbsp;电话：15170919336</p>
                            <p>地址：九江市长江大道669号21世纪家居建材中心B馆1023（香港茶餐厅正后门）</p>
                        </li>
                        <li>
                            <p>武昌徐东总部&nbsp;&nbsp;&nbsp;电话：400-658-3321</p>
                            <p>地址：湖北省武汉市中北路东亭世纪大厦1605室</p>
                        </li>
                        <li>
                            <p>武昌汉街店&nbsp;&nbsp;&nbsp;电话：400-658-3321</p>
                            <p>地址：水果湖汉街总部国际B座2006室</p>
                        </li>
                        <li>
                            <p>武昌街道口店&nbsp;&nbsp;&nbsp;电话：400-658-3321</p>
                            <p>地址：洪山区珞瑜路1号鹏程国际1栋A2913</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
