div.jd_web_right div.weizhi a.span{border-bottom:1px solid #f73c07; padding-bottom:6px}
.contr #jd_news li .cont {height:26px;}
.jd_web_right {overflow-x:hidden;}
div.jd_right_content div.web_right div.content div.newsContent{width:720px;}/*修正IE6下错位，由于padding设置12px，故不能设置与父级同宽*/
/*自动缩放代码*/
div.jd_right_content div.web_right div.content div.newsContent img{
   max-width:600px;
   width: expression(this.width > 600 ? 600: true);   /*IE6*/ 
   height: auto;
}
/*css控制标题字数*/
ul.hot_news li{
	display:inline-block;
	width:228px;
	overflow:hidden; 
	white-space:nowrap;
	text-overflow:ellipsis;
}
#newxff1 ul li span{
	display:inline-block;
	width:130px;
	overflow:hidden; 
	white-space:nowrap;
	text-overflow:ellipsis;
}
#newxff2 ul li span{
	display:inline-block;
	width:130px;
	overflow:hidden; 
	white-space:nowrap;
	text-overflow:ellipsis;
}
#newxff3 ul li span{
	display:inline-block;
	width:130px;
	overflow:hidden; 
	white-space:nowrap;
	text-overflow:ellipsis;
}
#newxff4 ul li span{
	display:inline-block;
	width:130px;
	overflow:hidden; 
	white-space:nowrap;
	text-overflow:ellipsis;
}
table#house_xx textarea#buy_text2{ width:363px; height:150px; background:#fff; border:1px solid #ccc; margin-top:4px;}
/*css控制标题字数*/
#jd_product li a.meduium_font_gray{
	display:inline-block;
	width:158px;
	overflow:hidden; 
	white-space:nowrap;
	text-overflow:ellipsis;
}
table#house_xx input.text{ width:159px; height:21px; background:#fff; border:1px solid #ccc;}
table#house_xx input#buy_text2{ width:363px; height:150px; background:#fff; border:1px solid #ccc; margin-top:4px;}

.leftContents ul li{padding-left:0px;}
#smoothmenu2 ul{ padding:30px 0px 20px 20px;}
#smoothmenu2 ul li ul{ display:none}
#smoothmenu2 ul li{POSITION: relative; background:url(../images/line1.gif) 0 bottom no-repeat;line-height:32px; height:32px;color:#fff; }
#smoothmenu2 ul li a{ DISPLAY: block; TEXT-DECORATION: none; line-height:32px; height:32px; padding-left:20px; color:#fff; font-size:14px; }
#smoothmenu2 ul li.current a{color: #017ec6; background:#fff; padding-left:20px; border-right:3px solid #e54920; width:168px;
    display: block;
    height: 32px; line-height:32px; font-size:14px;}
#smoothmenu2 li.current ul li a{color: #fff;font-weight:normal;}
/*
.ddsmoothmenu-v UL {
	LIST-STYLE-TYPE: none; padding: 30px 0px 20px 20px; WIDTH: 191px; font-size:14px; 
}
.ddsmoothmenu-v UL LI {
	POSITION: relative; background:url(../images/line1.gif) 0 bottom no-repeat;line-height:32px; height:32px;color:#fff; 
}
.ddsmoothmenu-v UL LI A {
	 DISPLAY: block; TEXT-DECORATION: none; line-height:32px; height:32px; padding-left:20px; color:#fff; 
}

.ddsmoothmenu-v UL LI A.selected {
	BACKGROUND: #fff;  BORDER-RIGHT: #e54920 3px solid;color:#017ec6;
}
.ddsmoothmenu-v UL LI A:hover {
	BACKGROUND: #fff;  BORDER-RIGHT: #e54920 3px solid; color:#017ec6;
}
.ddsmoothmenu-v UL LI UL {
	POSITION: absolute; WIDTH: 170px; z-index:100; left:0px;
}
.ddsmoothmenu-v UL LI ul li{ line-height:32px; height:32px; color:#fff; background:none;
	
}
.ddsmoothmenu-v UL LI ul li.selected A {
	BACKGROUND: none;  BORDER-RIGHT: #e54920 0px solid; color:#017ec6;
}


.ddsmoothmenu-v UL LI ul li A { font-size:12px; color:#555
	
}
.ddsmoothmenu-v UL LI ul li A:hover { font-size:12px; background:none; border-right:none
	
}
.ddsmoothmenu {
	WIDTH: 100%; FONT: bold 12px Verdana; BACKGROUND: #fff
}
.ddsmoothmenu UL {
	Z-INDEX: 100; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.ddsmoothmenu UL LI {
	POSITION: relative; DISPLAY: inline; FLOAT: left
}
.ddsmoothmenu UL LI A {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: block; BACKGROUND: #fff; COLOR: #2d2b2b; BORDER-RIGHT: #fff 0px solid; TEXT-DECORATION: none; PADDING-TOP: 8px
}
* HTML .ddsmoothmenu UL LI A {
	DISPLAY: inline-block
}
.ddsmoothmenu UL LI A:link {
	COLOR: white
}
.ddsmoothmenu UL LI A:visited {
	COLOR: white
}
.ddsmoothmenu UL LI A.selected {
	BACKGROUND: black; COLOR: white
}
.ddsmoothmenu UL LI A:hover {
	BACKGROUND: black; COLOR: white
}
.ddsmoothmenu UL LI UL {
	POSITION: absolute; DISPLAY: none; VISIBILITY: hidden; LEFT: 0px
}
.ddsmoothmenu UL LI UL LI {
	DISPLAY: list-item; FLOAT: none
}
.ddsmoothmenu UL LI UL LI UL {
	TOP: 0px
}
.ddsmoothmenu UL LI UL LI A {
	BORDER-BOTTOM: gray 1px solid; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-LEFT: 5px; WIDTH: 230px; PADDING-RIGHT: 5px; FONT: 13px Verdana; BORDER-TOP-WIDTH: 0px; PADDING-TOP: 5px
}
* HTML .ddsmoothmenu {
	HEIGHT: 1%
}
.downarrowclass {
	POSITION: absolute; TOP: 12px; RIGHT: 7px
}
.rightarrowclass {
	POSITION: absolute; TOP: 6px; RIGHT: 5px
}
.ddshadow {
	POSITION: absolute; WIDTH: 0px; BACKGROUND: silver; HEIGHT: 0px; TOP: 0px; LEFT: 0px
}
.toplevelshadow {
	opacity: 0.8
}
*/