--- layout: join ---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% include head.html %}

<body>
    <div class="banner1">
        <div style="background:url({{site.baseurl}}public/images/ban7.jpg) no-repeat center 0; width:100%; height:300px;"></div>
    </div>
    
    {% include nav.html %}

    <!--banner end-->
    <div class="clear"></div>
    <script type="text/javascript">
    var menu = new menu.dd("menu");
    menu.init("menu", "menuhover");
    document.getElementById('ms7').className = 'on';
    </script>
    <!--nav_content end-->
    <link type="text/css" rel="stylesheet" href="{{site.baseurl}}public/css/inside.css" />
    <div class="w_box1">
        <div class="w1000">
            <!--web_content-->
            <script type="text/javascript">
            var menu = new menu.dd("menu");
            menu.init("menu", "menuhover");
            document.getElementById('ms7').className = 'on';
            </script>
            <!--jd_web_left-->
            <div class="jd_web_left fl">
                <div class="join_jd">
                    <div class="leftContents">
                        <div id="smoothmenu2">
                            <ul>
                                <li class="current"><a href="{{site.baseurl}}2015/05/08/join-1.html">加入壹佳</a></li>
                                <li><a href="{{site.baseurl}}2015/05/08/join-2.html">诚聘英才</a></li>
                                <li><a href="{{site.baseurl}}2015/05/08/join-3.html">推广合作</a></li>
                                <li><a href="{{site.baseurl}}2015/05/08/join-4.html">分销合作</a></li>
                            </ul>
                            <br style="clear: left">
                        </div>
                    </div>
                </div>
                <a href="add_book.asp"><img src="{{site.baseurl}}public/images/baojia1.gif" /></a>
                <a href="about.asp?id=7"><img src="{{site.baseurl}}public/images/contus.gif" /></a>
            </div>
            <!--jd_web_left end-->
            <!--jd_web_right-->
            <div class="jd_web_right fr">
                <div class="weizhi">您当前位置：<a href="index.asp">首页</a>&nbsp;&raquo;&nbsp;<a href="join.asp?id=11">加入壹佳</a>&nbsp;&raquo;&nbsp;<span><a href='#'>加入壹佳</a></span></div>
                <div class="jd_right_content">
                    <p class="large_font_gray line_height">
                    	{{content}}
                    </p>
                </div>
            </div>
            <!--jd_web_right end-->
            <div class="clear"></div>
        </div>
    </div>
    {% include footer.html %}
</body>

</html>
