--- layout: news ---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% include head.html %}

<body>
    <div class="banner1">
        <div style="background:url({{site.baseurl}}public/images/ban7.jpg) no-repeat center 0; width:100%; height:300px;"></div>
    </div>
    {% include nav.html %}
    <!--banner end-->
    <div class="clear"></div>
    <script type="text/javascript">
    var menu = new menu.dd("menu");
    menu.init("menu", "menuhover");
    document.getElementById('ms7').className = 'on';
    </script>
    <!--nav_content end-->
    <link type="text/css" rel="stylesheet" href="{{site.baseurl}}public/css/inside.css" />
    <div class="w_box1">
        <div class="w1000">
            <!--web_content-->
            <!--jd_web_left-->
            <div class="jd_web_left fl">
                <div class="join_jd">
                    <div class="leftContents">
                        <div id="smoothmenu2">
                            <ul>
                                <li><a href="news.asp?id=1" titile="最新签约">最新签约</a></li>
                                <li><a href="news.asp?id=2" titile="壹佳动态">壹佳动态</a></li>
                                <li><a href="news.asp?id=3" titile="行业动态">行业动态</a></li>
                                <li><a href="news.asp?id=4" titile="施工信息">施工信息</a></li>
                                <li><a href="news.asp?id=5" titile="热门活动">热门活动</a></li>
                                <li><a href="news.asp?id=6" titile="使用心得">使用心得</a></li>
                            </ul>
                            <br style="clear: left">
                        </div>
                    </div>
                </div>
                <a href="add_book.asp"><img src="theme/default/images/baojia1.gif" /></a>
                <a href="about.asp?id=7"><img src="theme/default/images/contus.gif" /></a>
            </div>
            <!--jd_web_left end-->
            <!--jd_web_right-->
            <div class="jd_web_right fr">
                <div class="weizhi">您当前位置：<a href="index.asp">首页</a>&nbsp;&raquo;&nbsp;<a href="news.asp?id=2">资讯与活动</a>&nbsp;&raquo;&nbsp;<span><a href='#'>最新签约</a></span></div>
                <div class="jd_right_content">
                    <ul class="jd_news_list">
                        <li><a href="News_show.asp?id=236" title="橡树湾一期张先生签约成功" class="meduium_font_gray">橡树湾一期张先生签约成功</a><span class="meduium_font_gray">[2015-5-28]</span></li>
                        <li><a href="News_show.asp?id=235" title="保利公园九里薛先生签约成功" class="meduium_font_gray">保利公园九里薛先生签约成功</a><span class="meduium_font_gray">[2015-5-28]</span></li>
                        <li><a href="News_show.asp?id=234" title="华大家园马女士签约成功" class="meduium_font_gray">华大家园马女士签约成功</a><span class="meduium_font_gray">[2015-5-28]</span></li>
                        <li><a href="News_show.asp?id=233" title="东原时光道唐女士签约成功" class="meduium_font_gray">东原时光道唐女士签约成功</a><span class="meduium_font_gray">[2015-5-28]</span></li>
                        <li><a href="News_show.asp?id=232" title="华润悦府王先生签约成功" class="meduium_font_gray">华润悦府王先生签约成功</a><span class="meduium_font_gray">[2015-5-23]</span></li>
                        <li><a href="News_show.asp?id=231" title="金湖家园颜先生签约成功" class="meduium_font_gray">金湖家园颜先生签约成功</a><span class="meduium_font_gray">[2015-5-19]</span></li>
                        <li><a href="News_show.asp?id=230" title="复地东湖国际四期卢先生签约成功" class="meduium_font_gray">复地东湖国际四期卢先生签约成功</a><span class="meduium_font_gray">[2015-5-19]</span></li>
                        <li><a href="News_show.asp?id=229" title="世贸锦绣长江3期汪先生签约成功" class="meduium_font_gray">世贸锦绣长江3期汪先生签约成功</a><span class="meduium_font_gray">[2015-5-5]</span></li>
                        <li><a href="News_show.asp?id=228" title="华侨城纯水岸陶总签约成功" class="meduium_font_gray">华侨城纯水岸陶总签约成功</a><span class="meduium_font_gray">[2015-5-5]</span></li>
                        <li><a href="News_show.asp?id=227" title="航天花园4期李先生签约成功" class="meduium_font_gray">航天花园4期李先生签约成功</a><span class="meduium_font_gray">[2015-5-5]</span></li>
                        <li><a href="News_show.asp?id=226" title="万锦江城张先生签约成功" class="meduium_font_gray">万锦江城张先生签约成功</a><span class="meduium_font_gray">[2015-5-5]</span></li>
                        <li><a href="News_show.asp?id=225" title="南湖大华公园世胡女士签约成功" class="meduium_font_gray">南湖大华公园世胡女士签约成功</a><span class="meduium_font_gray">[2015-5-5]</span></li>
                        <li><a href="News_show.asp?id=224" title="丽岛美生王先生签约成功" class="meduium_font_gray">丽岛美生王先生签约成功</a><span class="meduium_font_gray">[2015-4-24]</span></li>
                        <li><a href="News_show.asp?id=223" title="百瑞景三期李先生签约成功" class="meduium_font_gray">百瑞景三期李先生签约成功</a><span class="meduium_font_gray">[2015-4-24]</span></li>
                        <li><a href="News_show.asp?id=222" title="融侨锦江刘先生签约成功" class="meduium_font_gray">融侨锦江刘先生签约成功</a><span class="meduium_font_gray">[2015-4-24]</span></li>
                    </ul>
                    <p>&nbsp;</p>
                    <div class="pages">
                        <!--[totalpage:66]--><span class="page_info"><table width=100% border=0 cellpadding=0 cellspacing=0 style='font-size:12px;' >
<form method=get onsubmit="document.location = 'http://www.wh-onebest.com/news.asp?id=1&Page='+ this.page.value;return false;"><TR >
<TD align=left  class=hui>
<p align=center>
首页 
上一页 
<A HREF=http://www.wh-onebest.com/news.asp?id=1&Page=2>下一页</A> 
<A HREF=http://www.wh-onebest.com/news.asp?id=1&Page=14>尾页</A> 
页次：1/14页
 共209条记录
 转<INPUT CLASS=wenbenkuang TYEP=TEXT NAME=page SIZE=2 Maxlength=5 VALUE=1>页
<INPUT CLASS=go-wenbenkuang type=submit value=GO></TD>
</TR></form>
</table>
</div>    </div>
    </div>
    <!--jd_web_right end-->
    
    <div class="clear"></div>
    </div>
</div>


    {% include footer.html %}
</body>

</html>
